{% extends 'hereda.html '%}

{% block contenido %}
	<form method = "POST">
		{% csrf_token %}
		<table class="table table-striped table-hover">
		<tr>
			<td>Tipo de habitacion: {{ form.tipo }}</td>
			<td>Descripcion: {{ form.descripcion }}</td>
			<td>Numero de Habitacion: {{ form.numero }}</td>
			<td>
				<button type="submit" value="Submit" class="btn btn-success" onclick="clicked()">Agregar</button>
			</td>
		</tr>
		<tr>
			<td>
				<a href="{% url 'analisis:listaHabitacion' %}" class="btn btn-success">Lista habitaciones</a>
			</td>
		</tr>
		</table>
	</form>
{% endblock %}