{% extends 'hereda.html' %}

{% block contenido%}

<h3>Registro de los clientes que se hospedaron en el hotel</h3>

<table class="table table-striped table-hover">
	<tr>
		<td>Nombre</td>
		<td>DPI</td>
		<td>fecha ingreso</td>
		<td>fecha egreso</td>
		<td>habitacion ocupada</td>
	</tr>

	{% for est in object_list %}
	<tr>
		<td>{{ est.nombre }}</td>
		<td>{{ est.dpi }}</td>
		<td>{{ est.fecha_ingreso }}</td>
		<td>{{ est.fecha_egreso }}</td>
		<td>{{ est.habitacion }}</td>
	</tr>
	{% endfor %}

</table>

{% endblock %}