{% extends 'hereda.html '%}

{% block contenido %}
<!--
<center>
	<h4>Usuario</h4>
	<input type="text" name="user">
	<h4>Contrasena</h4>
	<input type="text" name="password">
	<br>
	<br>
	<button type="submit" value="Submit" class="btn btn-success" onclick="clicked()">Agregar</button>
	<br>
	<br>
</center>
-->
<form method = "POST">
	{% csrf_token %}
	<center>
		<div class="row">
			<div class="form-group">
				<label>Usuario</label>
				{{ form.username }}
			</div>
		</div>

		<div class="row">
			<div class="form-group">
				<label>Contrasena</label>
				{{ form.password }}
			</div>
		</div>
		<button type="submit" value="Submit" class="btn btn-success">Acceder</button>
	</center>
</form>
<br>
<br>
{% endblock %}